<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800319571693-2u8d3p081bvigl68v3pn0a7knqr9b3n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800319571693-2u8d3p081bvigl68v3pn0a7knqr9b3n9</string>
	<key>API_KEY</key>
	<string>AIzaSyCNt0jqW-8LsSGPzAqk8nH0Bhr37_SsUQw</string>
	<key>GCM_SENDER_ID</key>
	<string>800319571693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiya</string>
	<key>PROJECT_ID</key>
	<string>aoflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>aoflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800319571693:ios:ed456f2e041e7536f32ee4</string>
</dict>
</plist>